<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-animate.js"></script>
  </head>

  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="uf_logo_full.png">
              </a>
            </div>
          </div>
          <h1>UF Directory App</h1>
        </div>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6" ng-if="!showForm">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="q">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <tr class="animate-repeat" ng-repeat="entry in listings | filter:q as results" ng-click="detailedInfo = showDetails(entry)">
                <td>{{ entry.code }}</td>
                <td>{{ entry.name }}</td>
                <td>
                  <button ng-click="deleteListing(entry)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
          <div ng-if="!showForm" class="pull-left">
            <button ng-click="changeForm()" class="btn btn-primary">Add New Building</button>
          </div>
        </div>
        <div ng-if="showForm">
          <form name="listingFormData" ng-submit="addListing()">
            <h2>Add a New Building Entry</h2>
            <div class="form-group">
              <label for="code">Code</label>
              <input id="code" class="form-control" ng-model="form.code" type="text" placeholder="Enter Code... " required>
            </div>
            <div class="form-group">
              <label for="code">Name</label>
              <input id="name" class="form-control" ng-model="form.name" type="text" placeholder="Building Name..." required>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea id="address" class="form-control"  ng-model="form.address" type="text" placeholder="Enter an address..." /></textarea>
              <div class="form-group">
                <h3>Coordinates</h3>
                <label for="latitude">Latitude</label>
                <input id="latitude" class="form-control"  ng-model="form.coordinates.latitude" type="text" placeholder="Enter a latitude...">
                <label for="longitude">Longitude</label>
                <input id="longitude" class="form-control"  ng-model="form.coordinates.longitude" type="text" placeholder="Enter a longitude...">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-6" ng-if="!showForm">
          <div ng-if="detailedInfo !== undefined" class="jumbotron">
            <h2>Detailed Information</h2>
            <div class="row">
              <div class="col-md-12">
                <dl class='detailed-info dl-horizontal'>
                  <dt>Code</dt>
                  <dd>{{detailedInfo.code}}</dd>
                  <dt>Name</dt>
                  <dd>{{detailedInfo.name}}</dd>
                  <dt ng-if="detailedInfo.address !== undefined">Address</dt>
                  <dd ng-if="detailedInfo.address !== undefined">{{detailedInfo.address}}</dd>
                  <dt ng-if="detailedInfo.coordinates.longitude !== undefined">Longitude</dt>
                  <dd ng-if="detailedInfo.coordinates.longitude !== undefined">{{detailedInfo.coordinates.longitude}}</dd>
                  <dt ng-if="detailedInfo.coordinates.latitude !== undefined">Latitude</dt>
                  <dd ng-if="detailedInfo.coordinates.latitude !== undefined">{{detailedInfo.coordinates.latitude}}</dd>
                </dl>
              </div>
            </div>
          </div>
          <div ng-if="detailedInfo === undefined" class="jumbotron">
            <h3>Click on a row in the UF Directory App to see more info about that listing</h3>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>