#searchBar {
  margin: 15px 10px;
}
.searchBar{

}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

/* Source:https://docs.angularjs.org/api/ng/directive/ngRepeat */
.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
  .input.ng-invalid {
    background-color: #FA787E;
  }
